body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: #adbbce;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #426495; 
}

.makeStyles-root-1{
  z-index: 999999 !important;
}